*{
    padding: 0%;
    margin: 0%;
    font-size: large;
}
body{
    background-image: url(/images/marketplace-futuro-banca.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.container{
    margin: 3em 5em;
    padding: 2em;
    display: grid;
    gap: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    min-height: 30rem;
}
.conversor{
    display: flex;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
}
.contenedor-conversor{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}
.flip{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 22%;
}
.logo{
    display: flex;
    justify-content: center;
    padding: 2em;
}
.boton-conversor{
    width: 40%;
}
.comprar-boton{
    padding: 0.2em;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.4)
}
.comprar{
    display: flex;
    justify-content: center;
}
.precios{
    display: flex;
    justify-content: space-evenly;
}
.card-fluid{
    width: 20%;
    text-align: center;
}
.cantidad{
    width: 70%;
}