
.login-box{

    margin-top: 50px;
    margin-left: 600px;
    margin-right: 600px ;
    display: block;
    
    width: 600px;
    float: right;
}
.card-title{
    text-align: center;
    padding-bottom: 40px;


}
.col-auto{


   text-align: center;
}
.recuperacion{

    padding-bottom: 15px;
    font-style: italic;
    text-align: center;

}   
.logo{
    display: block;
    margin-left: 50px;

}
   
.form-check{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
   

}
.welcome{

    font-size: 11px ;
    display: block;
    margin-top: 100px;
    margin-left: 690px;
    
    }


.links{
    color: black;
}

