<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Prestamos/css/Prestamos.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">     <title>ITBANK</title>
    <title>Préstamos</title>
</head>
<body>
    <header class="encabezado">
        <div class="logo">
          <img class="img-logo" src="{% static 'Prestamos/img/Logo.png' %}" alt="ITBANK" />
        </div>
        <div>
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary border-2 rounded-circle"><i class="fa fa-sign-out"></i></button></a>
        </div>
      </header>
      <main>
            <div class="seccion">
              {{msg}}
              <a href="{% url 'prestamos' %}"><button class="btn btn-primary btn-block" type="button">Regresar</button></a>
            </div>

            
      </main>
</body>
</html>