<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Prestamos/css/Prestamos.css' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://css.gg/bell.css' rel='stylesheet'>
    <link link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
    <link link rel="stylesheet" type="text/css" href="../HomePage/Css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">     <title>ITBANK</title>
    <title>Préstamos</title>
</head>
<body>
    <header class="encabezado">
        <div class="logo">
          <a href="{% url 'cuenta' %}"><img class="img-logo" src="{% static 'Prestamos/img/Logo.png' %}" alt="ITBANK" /></a>
        </div>
        <div>
          <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary border-2 rounded-circle"><i class="fa fa-sign-out"></i></button></a>
        </div>
      </header>
      <main>
            <div class="seccion">
              <style>.errorlist{color:red;}</style>
              <main role="main">
                <div class="container">
                  <div class="row mt-3">
                    <div class="col-md-9 mx-auto mb-5">
                      <form action="Prestamos/Mensaje/" method="post" id="carform">{% csrf_token %}
                        <h3 class="mb-4">Solicitud de Prestamo</h3>
                        {% if form.non_field_errors %}
                          <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                        {% endif %}
                        {{msg}}
                        <p>
                          <label for="cars">Seleccione un Prestamo :</label>
                          <select name="seleccion_prestamo" id="seleccion_prestamo">
                            <option value=" "></option>
                            <option value="Hipotecario">Hipotecario</option>
                            <option value="Personal">Personal</option>
                            <option value="Prendario">Prendario</option>
                            
                          </select>
                        </p>
                        <p>
                          <input type="number" name="Monto" required
                            id="id_monto" class="form-control" placeholder="Monto"/>
                        </p>
                        <p>
                          <input type="date" name="Fecha" required
                            id="Fecha" class="form-control" placeholder="Fecha de Inicio"/>
                        </p>
                        <p><input type="submit" class="btn btn-primary btn-block" value="Conceder Prestamo"></p>
                      </form>
                    </div>
                  </div>
                </div>
              </main>
            </div>

            <div class="seccion">
            <h1>Prestamos Solicitados</h1>
            <table>
              <tr>
                <th>Tipo de Prestamo</th>
                <th>Monto</th>
                <th>Fecha de Inicio</th>
              </tr>
              {% for prestamo in prestamos %}
              <tr>
                <td>{{prestamo.loan_type}}</td>
                <td>${{prestamo.loan_total}}</td>
                <td>{{prestamo.loan_date}}</td>
              </tr>
              {% endfor %}
            </table>
      </main>
</body>
</html>