<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://css.gg/bell.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link rel="stylesheet" href="{% static 'Cuentas/css/cuenta.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header class="encabezado">
        <div class="logo">
            <a href="{% url 'cuenta' %}"><img class="img-logo" src="{% static 'Prestamos/img/Logo.png' %}" alt="ITBANK" /></a>
        </div>
        <div class="logout">
            <button type="button" class="btn btn-outline-primary border-2 rounded-circle"><i class="fa fa-bell"></i></button>
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary border-2 rounded-circle"><i class="fa fa-sign-out"></i></button></a>
        </div>
    </header>
    <h1>Bienvenido {{content.nombre}}</h1>
    <div class="container d-flex  justify-content-center vh-100">
        <div class="row">
            <!-- General Menu-->
            <div class="col-12">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="card-title">
                            
                        </div>
                        <div class="d-flex bd-highlight mb-1">
                            <div class="me-auto p-1 bd-highlight">
                                <div class="dropdown">
                                    <button class="btn btn-outline-primary dropdown-toggle border-2" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                      Menu
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                      <li><a class="dropdown-item" href="#">A</a></li>
                                      <li><a class="dropdown-item" href="#">B</a></li>
                                      <li><a class="dropdown-item" href="#">C</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="me-auto p-1 bd-highlight">
                                <img class="img-fluid" src="{%static 'Cuentas/img/Logo.png'%}" width="319px" height="120px">
                                
                                
                            </div>
                            <div class="p-1 bd-highlight">
                                <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary border-2 rounded-circle"><i class="fa fa-sign-out"></i></button></a>
                           
                            </div>
                          </div>
                    </div>
                </div>
            </div>

            <!-- Search Bar-->
            <div class="col-12 d-none d-sm-block">
                <nav class="navbar navbar-light">
                    <div class="container-fluid align-items-center justify-content-center">
                      <form class="d-flex w-75">
                        <input class="form-control me-2 border-2 border-primary" type="search" placeholder="¿Que estas buscando?" aria-label="Search ">
                        <button class="btn btn-outline-primary border-2" type="submit"><i class="fa fa-search"></i></button>
                      </form>
                    </div>
                  </nav>
            </div>

            <!-- Account Selector-->
            <div class="col-12 d-block d-sm-none">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="d-flex">
                            <select class="form-select form-select-m mb-0 btn btn-primary border-2" aria-label=".form-select-m example">
                                <option selected>Seleccione su Cuenta</option>
                                {% for accounts in content.cuentas %}
                                
                                    var += <option value="{{accounts.account_id}}">Cuenta: {{accounts.account_id}}</option>
                                {% endfor %}
                                var
                            </select> 
                        </div>
                    </div>
                </div>
            </div>

            
            <!-- Buttons-->
            <div class="col-12">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="d-flex bd-highlight justify-content-center">
                            
                            <div class="m-2">
                                <button type="button" class="btn btn-primary border-2" >Transferir</button>
                            </div>

                            <div class="m-2">
                                <button type="button" class="btn btn-primary border-2"><a href="Sprint-3/goCripto.html">GoCripto</a></button>
                            </div>

                            <div class="m-2">
                                <button type="button" class="btn btn-primary border-2">Sube</button>
                            </div>

                            <div class="m-2">
                                <a href="{% url 'prestamos' %}"><button type="button" class="btn btn-primary border-2">Prestamos</button></a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <!-- Account Cards-->
            <div class="col-12 d-none d-sm-block">
                <div id= "AccountCards" class="d-flex rounded justify-content-center border m-1">
                    {% for cards in content.tarjetas %}
                        <div class="card m-2 h-100">
                            <div class="card-title border rounded border-primary border-2">
                                <h4>{{cards.ttarjetas.ttarjetas_marca}}</h4>
                                <h5>{{cards.tarjeta_numero}}</h5>
                            </div>
                            <div class="card body p-2 border-2 border-primary">
                                <ul>
                                    <li>Otorgamiento: {{cards.tarjeta_fecha_otorgamiento}}</li>
                                    <li>Expiracion: {{cards.tarjeta_fecha_expiracion}}</li>
                                    <li>CVV: {{cards.tarjeta_cvv}} </li>
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <!-- Tipo de Cuentas para el usuario-->
                <div class="col-12 d-none d-sm-block">
                    <div id= "AccountCards" class="d-flex rounded justify-content-center border m-1">
                        {% for cards in content.cuentas %}
                        <div class="card m-2 h-100">
                            <div class="card-title border rounded border-primary border-2">
                                <h4>{{cards.tcuenta_id.tcuenta_tipo}}</h4>
                                <h5>Numero de Cuenta: {{cards.account_id}}</h5>
                            </div>
                            <div class="card body p-2 border-2 border-primary">
                                <ul>
                                    <li>Balance: ${{cards.balance}}</li>
                                    <li>IBAN: {{cards.iban}}</li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>  
            </div>

            <!-- Account Movements-->
            <div class="col-12 d-block d-sm-none">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="list-group">
                            {% for gastos in content.movimientos %}
                                <a href="#" class="list-group-item list-group-item-action border-2 rounded border-primary">
                                <div class="d-flex w-100 justify-content-between border-2">
                                    <h5 class="mb-1">{{gastos.tipo_operacion}}</h5>
                                    <small class="text-muted">{{gastos.hora}}</small>
                                </div>
                                <p class="mb-1">${{gastos.monto}}</p>
                                <small class="text-muted">Verified</small>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div> 
            </div>
        </div>    
    </div>
</body>
</html>