*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background-color: hsl(221, 93%, 52%);
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
header p{
    margin: 0.8em;
}
main{
    margin:1em;
}
main div{
    margin-bottom: 1em;
}
.persona__Lista{
    margin: 1em 0;
    border: 1px solid rgba(0, 0, 0, 0.244);
    border-radius: 5px;
    width: 50%;
}
.persona__Lista p{
    margin: 0.5em;
}