{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    
    <link rel="stylesheet" href="{% static 'Login/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">     <title>ITBANK</title>
  </head>
  <body>
    <header class="encabezado">
      <div class="logo">
        <img class="img-logo" src="{%static 'Login/img/Logo.png' %}" alt="ITBANK" />
      </div>
      <nav class="menu">
        <ul class="nav text-small">
          <li>
            <a href="" class="nav-link hov">Productos</a>
          </li>
          <li>
            <a href="" class="nav-link hov">Opiniones</a>
          </li>
          <li>
            <a href="" class="nav-link hov">Conocenos</a>
          </li>
        </ul>
      </nav>
      <div class="log-in hov">
          <a href="{% url 'cuenta' %}">Log In</a>
      </div>
      </li>
    </header>
    <main class="content">
      <hgroup>
        <h1>ITBANK confianza y compromiso</h1>
        <h2>Tu banco, tu hogar</h2>
      </hgroup>
    </main>

    <footer class="pie-pagina">
        
        <div class="pie-contenedor">
            <div class="pie-item hov">Crece</div>
            <div class="pie-item hov">Ahorrá</div>
            <div class="pie-item hov">Invertí</div>
        </div>     
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>